/* lg */
@media (min-width: 1200px) {
    .rebonsive-show{display: none !important}
    .rebonsive-hidden{display: block !important}
    .rebonsive-carousel-hidden{display: none}
    .rebonsive-carousel-hidden.lg{display: block}
    .rebonsive-carousel-show{display: none}

    .header-top .form-search-width {width: 59.333333%;padding-left: 30px;padding-right: 60px;}
    .header-top .user-nav-width {width: 24%;padding: 0;}
    .menu-rebonsive{display: none;}
    .product-carousel-rebonsive{display: none;}

    .category-banner .product-list-item {height: 80px;padding: 5px 10px;}
    .footer .footer-left{width: 55%;}
    .footer .footer-right{width: 17%;}
    /*style danh muc*/
    .product-container-heading .product-container-heading-right {padding-left: 40px}
    .product-container-heading-page-search .product-container-heading-right{padding-left: 0;}

    /*rebonsive gian hang*/
    .col-customise{width: 20%;padding: 0}


    /*rebonsive chi tiet san pham*/
    .thumb-pro-container{
        width: 14.285714%;
    }
    .header-top-page-detail .user-nav-width {
        padding: 5px 15px 5px 80px;
    }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
    .rebonsive-show{display: none}
    .rebonsive-hidden{display: block}
    .rebonsive-carousel-hidden{display: block}
    .rebonsive-carousel-hidden.lg{display: none}
    .rebonsive-carousel-show{display: none}
    .product-author .thumb-pro-container{}
    .header{background-color: #fff;}
    .header .header-top{
        padding: 20px 0;
        height: 85px;
        position: relative;
    }
    .header .header-top .logo img{width: 100%;height: 40px;padding: 2px 0;}
    .header-top .form-search .form-inline input {width: 71%;}
    .header-top .form-search select {width: 20%;right: 9%;}
    .header-top .form-search button {width: 9%;}
    .header-top .form-search button i{font-size: 16px;}
    .header-top .form-search button i{font-size: 20px;}
    .header-top .form-search-width {width: 54.333%;padding-left: 20px;padding-right: 43px;}
    .header-top .user-nav-width {width: 29%;padding: 0;}
    .header-top .user-nav {padding: 7px 0;}

    .menu-rebonsive{display: none}
    .header-middle .menu ul li{
        font-size: 10px;
        font-weight: bold;
    }
    .category-banner {height: 300px;}
    .category-banner .left, .category-banner .right{height: 300px;}

    .category-banner .nav-cat .category-banner-title{margin: 5px 0;font-size: 14px;}
    .category-banner .nav-cat .cat-group-item {
        font-size: 11px;
        padding: 2px 10px;
        width:100%;
    }
    .category-banner .nav-cat .cat-group-item.ngan {width:80%;}
    .category-banner .media-heading.product-name {
        line-height: 1.2em;
        max-height: 2.4em;
    }
    .category-banner .product-list-item {height: 75px;padding: 5px 7px;}
    .category-banner .product-list .pro-sm-img img {
        width: 50px;
        height: 45px;
        margin: 5px 0;
    }

    /*rebonsive gian hang*/
    .header-bottom .cover-store-top {height: 270px;}
    .header-bottom .cover-store-top img{height: 270px;padding: 0 121px;}
    .header-bottom .cover-store-bot .avatar{width: 160px;height: 160px;}
    .header-bottom .cover-store-bot .name-store{padding-left: 175px;padding-top: 10px;}
    .header-bottom .cover-store-bot .name-store h3{font-size: 16px;}
    .col-customise{width: 20%;padding: 0 3px}

    .product-carousel-booth .product-carousel .pro-price{font-size: 18px}
    .product-container-item .pro-price {font-size: 17px;}

    /*rebonsive chi tiet san pham*/
    .content-pr-view .product-tabs .pr-tabs-list li{}
    .content-pr-view .product-tabs .pr-tabs-list li a{
        padding: 5px 13px;
    }
    .dgsp-left .dgtb{
        margin: 0 20px;
    }
    .dgsp-left .dgtb .danhgia{
        text-align: center;
        padding: 10px 5px 0;
    }
    .dgsp-left .progress-pr span{}
    .dgsp-left .progress-pr .progress{
        width: 148px;
    }

}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {

    .rebonsive-show {display: none}
    .rebonsive-hidden{display: block}
    .rebonsive-carousel-hidden{display: none}
    .rebonsive-carousel-hidden.lg{display: none}
    .rebonsive-carousel-show{display: block}

    .header-top .form-search .form-inline input {width: 70%;}
    .header-top .form-search select {width: 20%;right: 10%;}
    .header-top .form-search button {width: 10%;}
    .header-top .form-search button i{font-size: 16px;}
    .header-top .form-search-width {width: 55%;padding-left: 20px;padding-right: 30px;}
    /*.header-top .rebonsive-show {display: none;}*/
    .header-top .user-nav-width {padding: 0;width: 20%;}
    .user-nav-icon .media-body{display: none;}

    .menu{display: none}
    .menu-rebonsive .navbar-header {
        float: none;
        border-bottom: 1px solid #e7e7e7;
    }
    .menu-rebonsive .navbar-left,.navbar-right {float: none !important;}
    .menu-rebonsive .navbar-toggle {display: block;}
    .menu-rebonsive .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .menu-rebonsive  .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .menu-rebonsive  .navbar-collapse.collapse {display: none!important;}
    .menu-rebonsive  .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .menu-rebonsive   .navbar-nav>li {float: none;}
    .menu-rebonsive .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu-rebonsive  .collapse.in{display:block !important;}
    .header-middle .menu-rebonsive{display: block;margin-bottom: 5px;background-color: #fff;}
    .header-middle .menu-rebonsive ul li span {padding: 5px;}
    .header-middle .menu-rebonsive .menu-sub li a {padding-left: 30px;color: #777;}
    .header-middle .menu-rebonsive .menu-sub li a:hover {color: #333;}
    .header-middle .menu-rebonsive .menu-sub li a span {padding: 0 10px 0 0;}

    #banner, #banner img{height: 260px;}

    .product-carousel .product-name {font-size: 12px; margin: 0}
    .product-carousel .pro-price {font-size: 16px;}
    .category-banner {height: 240px;}
    .category-banner .left {width: 14%;}
    .category-banner .right {width: 55%;}
    .category-banner .product-list {width: 31%;}
    .category-banner .left, .category-banner .right{height: 240px;}
    .category-banner .nav-cat .category-banner-title{margin: 5px 0;font-size: 13px;}
    .category-banner .nav-cat .cat-group-item {
        font-size: 11px;
        padding: 2px 10px;
        width:100%;
    }
    .category-banner .nav-cat .cat-group-item.ngan {width:80%;}
    .category-banner .media-heading.product-name {
        line-height: 1.2em;
        max-height: 2.4em;
    }
    .category-banner .product-list .pro-sm-img img {
        width: 50px;
        height: 45px;
        margin: 5px 0;
    }

    /*rebonsive danh muc*/
    .product-container-heading .product-container-heading-right {padding-left: 40px}

    /*rebonsive trang tim kiem  */
    .header-bottom .cover-store-top {height: 240px;}
    .header-bottom .cover-store-top img{height: 240px;padding: 0;}
    .header-bottom .cover-store-bot .avatar{width: 140px;height: 140px;}
    .header-bottom .cover-store-bot .name-store{padding-left: 150px;padding-top: 5px;}
    .header-bottom .cover-store-bot .name-store h3{font-size: 16px;}

    .product-container-heading-page-search .product-container-heading-right{padding-left: 0;}
    .product-container .product-container-heading-right span.last{display: none}

    /*rebonsive chi tiet san pham*/
    .header-top-page-detail .user-nav{
        padding: 5px 0 3px 15px;
    }
    .user-nav-icon.dropdown{width: 30px;}
    .header-top-page-detail .btn-post-product{
        color: #f44f00;
        width: 36px;
        overflow: hidden;
        height: 28px;
    }
    .header-top-page-detail .btn-post-product i{color: #fff}
    .user-nav-icon .user-drop-menu{
        left: -488px;
    }
    .content-pr-view .product-tabs .pr-tabs-list li a{padding: 5px 10px}
    .dgsp-left .dgtb{
        margin: 0 10px;
    }
    .dgsp-left .dgtb .danhgia{
        padding: 5px 0;
        text-align: center;
    }
    .sidebar-tab{
        margin-top: 10px;
    }
}

/* xs */
@media (min-width: 481px) and (max-width: 767px) {
    .rebonsive-hidden{display: none;}
    .rebonsive-show{display: block;position: relative;}
    .rebonsive-carousel-hidden{display: none}
    .rebonsive-carousel-hidden.lg{display: none}
    .rebonsive-carousel-show{display: block}

    .header .header-top{
        height: 100%;
        padding: 20px 0;
    }

    .header .header-top .logo img{width: 160px;}

    .header-top .form-search {margin-top: 15px;}
    .header-top .form-search .form-inline input {width: 78%;}
    .header-top .form-search select {width: 15%;right: 8%;}
    .header-top .form-search button {width: 8%;}
    .header-top .form-search button i{font-size: 16px;}
    .header-top .form-search input {width: 60%;}
    .header-top .form-search input::placeholder{font-size: 12px;}

    .header-top .form-search-width {width: 100%;padding-left: 15px;padding-right: 15px;}
    .header-top .user-nav {padding: 3px 0;position: absolute;top: 0;right: 10%;}
    .user-nav-icon{float: left;}
    .header-top .cart{
        position: relative;
        padding: 0;
    }
    .user-nav-icon img {
        height: 28px;
        padding-right: 10px;
        padding-left: 8px;
    }
    .header-top .cart img{padding: 0;}

    .menu {display: none;}
    .header-middle .menu-rebonsive{display: block;margin-bottom: 5px;background-color: #fff;}
    .header-middle .menu-rebonsive ul li span {padding: 5px;}
    .header-middle .menu-rebonsive .menu-sub li a {padding-left: 30px;color: #777;}
    .header-middle .menu-rebonsive .menu-sub li a:hover {color: #333;}
    .header-middle .menu-rebonsive .menu-sub li a span {padding: 0 10px 0 0;}

    #banner, #banner img{height: 230px;}

    .logo-category{display: none;}
    .logo-category-rebonsive{
        display: block;
        margin-top: 30px;
        border: 1px #e8e8e8 solid;
        background-color: #fff;
        position: relative;
        padding: 18px;
    }
    .logo-category-rebonsive .logo-category-rebonsive-icon img{width: 100%;}
    .logo-category-rebonsive .left.prev img,
    .logo-category-rebonsive .right.next img{width: 7px;}
    .logo-category-rebonsive .left.prev {
        position: absolute;
        top: 17%;
        left: -12px;
    }
    .logo-category-rebonsive .right.next {
        position: absolute;
        top: 17%;
        right: -12px;
    }

    .product-carousel-rebonsive{display: block;}
    .product-carousel .title{position: relative;padding: 10px 0 10px 10px;}
    .product-carousel .title h2{margin: 0;font-size: 16px;}
    .product-carousel .title a {top: 32%;left: 217px;font-size: 10px;}
    .product-carousel .thumbnail, .product .thumbnail{margin: 0;}
    .product-carousel .pro-img {margin: 0 0 5px 0}
    .product-carousel .pro-img a img {width: 100%;padding-bottom: 17px;}
    .product-carousel .caption {padding: 5px 0 0 0;text-align: center;}
    .product-carousel .caption .star{font-size: 5px;}
    .product-carousel .caption .star span{padding: 0;font-size: 9px;}
    .product-carousel .discount {padding: 0 10px;font-size: 10px;}
    /* styles for '...' */
    .product-carousel .product-name {
        line-height: 1.2em;
        max-height: 2.4em;
        margin: 0 0 5px 0;
    }
    .product-carousel .product-name:after {display: none;}
    .product-carousel .pro-price {font-size: 14px;margin: 5px 0 0 0;}
    .product-carousel .pro-price span {font-size: 13px;padding: 0;}
    .product-carousel .left.prev {left: 10px;}
    .product-carousel .right.next {right: 10px;}
    .product-carousel .left.prev, .product-carousel .right.next {top: 44%;}

    .category-banner {height: 435px;}
    .category-banner .left {width: 20%;}
    .category-banner .right {width: 80%;}
    .category-banner .product-list {width: 100%;}
    .category-banner .left, .category-banner .right{height: 195px;}
    .category-banner .nav-cat .category-banner-title {
        font-size: 14px;
        margin: 3px 0;
    }
    .category-banner .product-price {font-size: 12px;}
    .category-banner .product-price span {padding-left: 8px;}
    .category-banner .nav-cat .cat-group-item {
        font-size: 9px;
        padding: 2px 5px;
        width:80%;
    }
    .category-banner .nav-cat .cat-group-item.ngan {width:70%;}
    .category-banner .media-heading.product-name {
        line-height: 1.2em;
        max-height: 2.4em;
    }
    .category-banner .product-list .pro-sm-img img {width: 50px;height: 45px;margin: 5px 0;}

    /*rebonsive danh muc*/
    .content-top-hidden{display: none}
    .content-top-rebonsive {display: block}
    .category-top-item-img img {width: 70%;}
    .left-sidebar h3{ margin-top: 10px}
    /*rebonsive trang tim kiem*/

    .header-bottom .cover-store-top {height: 210px;}
    .header-bottom .cover-store-top img{height: 210px;padding: 0;}
    .header-bottom .cover-store-bot .avatar{width: 130px;height: 130px;}
    .header-bottom .cover-store-bot .name-store{padding-left: 145px;padding-top: 5px;}
    .header-bottom .cover-store-bot .name-store h3{font-size: 16px;}

    .main-top .product-carousel-booth-new {padding-bottom: 0px;}
    .main-content .search-product, .main-content .order, .main-content .price-range, .main-content .trademark, .main-content .star-rating{padding-bottom: 15px}

    .product-carousel-booth .caption {padding: 5px 0 0 0;text-align: unset;}

    .product-container .product-container-heading-page-search{padding: 5px 0;}
    .product-container .product-container-heading-left-page-search{text-align: center}
    .product-container .product-container-heading-right-page-search{padding-top: 5px}
    .product-container .product-container-heading-right-page-search p strong{display: inline;}

    /*rebonsive chi tiet san pham*/
    .user-nav-rebon{}
    .user-nav-rebon .user-nav{
        right: 0;
        padding: 0;
        top: 10px;
    }
    .user-nav-rebon .user-nav .btn-post-product{padding: 5px 9px;}
    .user-nav-rebon .user-nav .user-nav-icon{}
    .user-nav-icon .user-drop-menu{
        left: -219px;
        max-width: 288px;
        top: 44px;
    }
    .user-drop-menu .user-btn{
        width: 100%;
        margin: 0 0 5px 0;
    }
    .content-pr-view .product-tabs .pr-tabs-list{
        font-size: 9px;
        text-transform: uppercase;
    }
    .content-pr-view .product-tabs .pr-tabs-list .active{border-top: unset}
    .content-pr-view .product-tabs .pr-tabs-list li{width: 25%;}
    .content-pr-view .product-tabs .pr-tabs-list li.first{margin-left: 0;}
    .content-pr-view .product-tabs .pr-tabs-list li a{padding: 5px 10px;}

    .content-pr-view .content-tabs{
        padding: 10px 20px;
        margin-bottom: 10px;
    }
    .content-tabs .table-detail caption{
        font-size: 13px;
        padding: 8px 0 5px 10px;
    }
    .content-tabs .table-detail .root,
    .content-tabs .table-detail .sub{
        width: 50%;
        font-size: 11px;
    }
    .content-tabs .dgsp-box .dgsp-left{
        width: 100%;
    }

    .dgsp-left .dgtb{
        margin: 0;
        width: 50%;
    }
    .dgsp-left .dgtb .danhgia{
        padding: 0;
        padding-top: 0px;
        text-align: center;
        padding-top: 10px;
    }
    .dgsp-left .progress-pr span{padding-left: 6px}
    .dgsp-right{
        padding: 5px 0 20px 0;
        margin-top: 6px;
        border: none;
        width: 100%;
        text-align: center;
    }
}

/* XS Portrait */
@media (max-width: 480px) {
    .col-xsp-3{width: 25%}
    .col-xsp-4{width: 33.333333%;}
    .col-xsp-6{width: 50%;}
    .col-xsp-8{width: 66.666666%;}
    .col-xsp-12{width: 100%;}
    .col-xsp-6{width: 50%;}
    .rebonsive-carousel-hidden{display: none}
    .rebonsive-carousel-hidden.lg{display: none}
    .rebonsive-carousel-show{display: block}

    .header .header-top{
        height: 100%;
        padding: 20px 0;
    }
    .header .header-top .logo img{width: 130px;padding: 0;}
    .header-top .form-search {margin-top: 15px;}
    .header-top .form-search select{font-size: 12px;}
    .header-top .form-search-width {width: 100%;padding-left: 15px;padding-right: 15px;}
    .header-top .rebonsive-show {display: block;position: relative;}
    .header-top .rebonsive-hidden{display: none;}
    .header-top .user-nav {padding: 3px 0;position: absolute;top: 0;right: 12%;}
    .user-nav-icon{float: left;}
    .user-nav-icon img {
        height: 28px;
        padding-right: 10px;
        padding-left: 8px;
    }

    .header-top .cart{position: relative;padding: 0;}
    .header-top .cart img{padding: 0;}
    .header-top .form-search .form-inline input {width: 60%;}
    .header-top .form-search input::placeholder{font-size: 12px;}
    .header-top .form-search select {
        width: 27%;
        right: 13%;
        padding: 0 0 0 5px;
    }
    .header-top .form-search button {width: 13%;}
    .header-top .form-search button i{font-size: 16px;}

    .menu {display: none;}
    .header-middle .menu-rebonsive{display: block;margin-bottom: 5px;background-color: #fff;}
    .header-middle .menu-rebonsive .collapse{padding: 0;margin: 0;}
    .header-middle .menu-rebonsive ul li span {padding: 5px;}
    .header-middle .menu-rebonsive .menu-sub {}
    .header-middle .menu-rebonsive .menu-sub li {}
    .header-middle .menu-rebonsive .menu-sub li a {padding-left: 30px;color: #777;}
    .header-middle .menu-rebonsive .menu-sub li a:hover {color: #333;}
    .header-middle .menu-rebonsive .menu-sub li a span {padding: 0 10px 0 0;}

    #banner{height: 150px;}
    #banner img{height: 150px;}
    #banner .select_slide{width: 30px;}

    .logo-category{display: none;}
    .logo-category-rebonsive{
        display: block;
        margin-top: 30px;
        border: 1px #e8e8e8 solid;
        background-color: #fff;
        position: relative;
        padding: 18px;
    }
    .logo-category-rebonsive .logo-category-rebonsive-icon img{width: 100%;}
    .logo-category-rebonsive .left.prev img,
    .logo-category-rebonsive .right.next img{width: 7px;}
    .logo-category-rebonsive .left.prev {
        position: absolute;
        top: 10%;
        left: -12px;
    }
    .logo-category-rebonsive .right.next {
        position: absolute;
        top: 10%;
        right: -12px;
    }
    .product-carousel-hidden{display: none;}
    .product-carousel-rebonsive{display: block;}
    .product-carousel .title{position: relative;padding: 10px 0 10px 10px;}
    .product-carousel .title h2{margin: 0;font-size: 16px;}
    .product-carousel .title a {top: 32%;left: 217px;font-size: 10px;}
    .product-carousel .thumbnail, .product .thumbnail{margin: 0;}
    .product-carousel .pro-img {margin: 0 0 10px 0}
    .product-carousel .pro-img a img {width: 100%;padding-bottom: 17px;}
    .product-carousel .caption {padding: 5px 0 0 0;text-align: center;}
    .product-carousel .caption .star{font-size: 5px;}
    .product-carousel .caption .star span{padding: 0;font-size: 9px;}
    .product-carousel .discount {padding: 0 10px;font-size: 10px;}
    /* styles for '...' */
    .product-carousel .product-name {
        font-size: 12px;
        line-height: 1.2em;
        max-height: 2.4em;
        margin: 0 0 5px 0;
    }
    .product-carousel .pro-price {font-size: 14px;margin: 5px 0 0 0;}
    .product-carousel .pro-price span {font-size: 13px;padding: 0;}
    .product-carousel .left.prev {left: 10px;}
    .product-carousel .right.next {right: 10px;}

    .category-banner {height: 388px;}
    .category-banner .left {width: 27%;}
    .category-banner .right {width: 73%;}
    .category-banner .product-list {width: 100%;}
    .category-banner .left, .category-banner .right{height: 148px;}
    .category-banner .nav-cat .category-banner-title {
        font-size: 10px;
        margin: 3px 0;
    }
    .category-banner .product-price {font-size: 12px;}
    .category-banner .product-price span {padding-left: 8px;}
    .category-banner .nav-cat .cat-group-item {
        font-size: 8px;
        padding: 2px 3px;
        width:90%;
    }
    .category-banner .nav-cat .cat-group-item.ngan {width:70%;}
    .category-banner .media-heading.product-name {line-height: 1.2em;max-height: 2.4em;}
    .category-banner .product-list .pro-sm-img img {
        width: 50px;
        height: 45px;
        margin: 5px 0;
    }
    /*/////////////////////*/
    /*rebonsive danh-muc*/
    /*//////////////////////*/

    .product-suggestions{margin: 20px 0}
    .product-suggestions ul li h4{font-size: 13px;margin: 0;}
    .product-suggestions ul li a{font-size: 10px;}

    /*product-container*/

    .product-container .product-container-heading{position: relative;padding: 5px 0;}
    .product-container .product-container-heading p span{display: none;}
    .product-container .product-container-heading-right p strong{display: none;}
    .product-container .product-container-heading-left{width: 100%;}
    .product-container .product-container-heading .product-container-heading-right{
        position: absolute;
        top: 0;
        right: 20px;
    }
    .product-container-item .product-name {font-size: 11px;  }
    .product-container-item .pro-price {
        font-size: 14px;
        color: #f05b4c;
        margin: 0;
    }
    .product-container-item .pro-price span {
        padding-left: 10px;
        font-size: 12px;
        color: #aeaeae;
        text-decoration: line-through;
    }

    /*rebonsive trang tim kiem*/
    .product-container .product-container-heading-left-page-search{text-align: center;}
    .product-container .product-container-heading .product-container-heading-right-page-search{position: unset;}
    .product-container .product-container-heading-right-page-search{padding-top: 10px}
    .product-container .product-container-heading-page-search p span,
    .product-container .product-container-heading-right-page-search p strong{display: inline;text-align: center}
    .product-container .product-container-heading p {
        margin: 0;
        line-height: 1.2em;
        max-height: 2.4em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    /*rebonsive gian hang*/
    .rebonsive-show{display: block}
    .rebonsive-hidden{display: none}

    .product-carousel-booth .product-carousel .title h2{font-size: 25px;margin-top: 0}
    .product-carousel-booth .product-carousel .item{padding: 0 10px;}
    .product-carousel-booth .product-carousel .pro-img a img {width: 100%;padding-bottom: 4px;}
    .product-carousel-booth .product-carousel .product-name {
        font-size: 12px;
        line-height: 1.2em;
        max-height: 2.4em;
        margin-bottom: 5px;
    }
    .product-carousel-booth .product-carousel .pro-price {
        font-size: 13px;
    }
    .product-carousel-booth .product-carousel .pro-price span {
        padding-left: 10px;
        font-size: 11px;
    }
    .product-carousel-booth .product-carousel .left.prev {
        top: 40%;
        left: 0;
    }
    .product-carousel-booth .product-carousel .right.next {
        top: 40%;
        right:0;
    }
    /*.header-bottom{height: auto;}*/
    .header-bottom .cover-store-top {height: 135px;}
    .header-bottom .cover-store-top img{height: 135px;padding: 0;}
    .header-bottom .cover-store-bot .avatar{width: 100px;height: 100px;}
    .header-bottom .cover-store-bot .name-store{padding-left: 115px;padding-top: 5px;}
    .header-bottom .cover-store-bot .name-store h3{font-size: 16px;}
    .main-top .product-carousel-booth-new {padding-bottom: 0px;}
    .main-content .search-product, .main-content .order, .main-content .price-range, .main-content .trademark, .main-content .star-rating{padding-bottom: 15px}

    /*rebonsive chi tiet san pham*/
    .user-nav-rebon{}
    .user-nav-rebon .user-nav{
        right: 0;
        padding: 0;
        top: 10px;
    }
    .user-nav-rebon .user-nav .btn-post-product{padding: 5px 9px;}
    .user-nav-rebon .user-nav .user-nav-icon{}
    .user-nav-icon .user-drop-menu{
        left: -219px;
        max-width: 288px;
        top: 44px;
    }
    .user-drop-menu .user-btn{
        width: 100%;
        margin: 0 0 5px 0;
    }
    .content-pr-view .product-tabs .pr-tabs-list{
        font-size: 8px;
        text-transform: uppercase;
    }
    .content-pr-view .product-tabs .pr-tabs-list .active{border-top: unset}
    .content-pr-view .product-tabs .pr-tabs-list li{width: 50%;}
    .content-pr-view .product-tabs .pr-tabs-list li.first{margin-left: 0;}
    .content-tabs .table-detail caption{
        font-size: 12px;
        padding: 8px 0 5px 10px;
    }
    .content-tabs .table-detail .root,
    .content-tabs .table-detail .sub{
        width: 50%;
        font-size: 10px;
    }
    .content-tabs .dgsp-box .dgsp-left{
        width: 100%;
    }

    .dgsp-left .dgtb{
        margin: 5px;
        width: 100%;
    }
    .dgsp-left .dgtb .danhgia{
        padding: 0;
        padding-top: 0px;
        text-align: center;
        padding-top: 10px;
    }
    .dgsp-left .progress-pr span{padding-left: 6px}
    .dgsp-right{
        padding: 7px;
        margin-top: 6px;
        border: none;
        text-align: center;
    }
    .dgsp-right .ratting{
        padding: 0;}

}
@media (max-width: 420px) {

    .product-container .product-container-heading-page-search p span,
    .product-container .product-container-heading-right-page-search p strong{display: block;}
    .product-container-heading-right .product-container-location,
    .product-container-heading-right .product-container-order,
    .product-container-heading-right .product-container-view{text-align: center}
}